<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <style>
        .fa{font-size: 20pt !important;}
    </style>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Font Awensome-->
    <script src="https://use.fontawesome.com/357547ef82.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">

        app = angular.module('mchanApp', ['ngMaterial']);
        app.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.useXDomain = true;
            delete $httpProvider.defaults.headers.common['X-Requested-With'];
        }
        ]);

        app.controller('mchanCtrl', function ($scope, $mdSidenav, $sce, $http) {

            $scope.toggleSidenav = function() { $mdSidenav('sidenavId').toggle();};

            $scope.addChan = function(){

                $.getJSON($scope.newChanUrl, function(data){
                    console.log(data);
                });
            };

            $scope.iframeLoadedCallBack = function(){
                //console.log($($("#loader")[0])("html"));
            };

        });

        angular.module('mchanApp').config(function($mdThemingProvider) {
            $mdThemingProvider.theme('default')
                .primaryPalette('grey')
                .accentPalette('green');
        });


    </script>

</head>
<body ng-app="mchanApp" ng-controller="mchanCtrl" ng-cloak layout="column">

    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Sidebar" ng-click="toggleSidenav()">
                <md-icon md-font-icon="fa-bars" class="fa" alt="bars"></md-icon>
            </md-button>

            <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2>

            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-font-icon="fa-heart" class="fa" alt="heart"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-icon="fa-ellipsis-v" class="fa" alt="ellipsis"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex>
        <md-sidenav md-component-id="sidenavId" class="md-sidenav-left md-whiteframe-z2" layout="column">
            <md-list>
                <md-list-item>

                    <md-item-content md-ink-ripple>
                        <div class="inset">Item 1</div>
                    </md-item-content>

                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content>
            <md-input-container>
                <label>Title</label>
                <input ng-model="newChanUrl">
            </md-input-container>

            <md-button class="md-fab" aria-label="Choose chan" ng-click="addChan()">
                <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
            </md-button>

        </md-content>
    </md-content>

</body>
</html>
